<!DOCTYPE html>
<html>

<head>
    <title>Internal server error</title>
</head>

<body>
    <center><h1>Internal server error</h1></center>
    <center><% if (typeof errorMessage !== "undefined") { %>
                <p><%= errorMessage %></p>
            <% } %></center>
</body>

</html>
